body {
    margin: 0;
    background:#f2ac80;
    font-family: 'Coming Soon';
}

h1 {
    margin: 0;
    font-family: 'Amatic SC';
    font-size: 100px;
}

/* FOR BORDER VIEWING
div {
    border: dotted black;
}
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}
            
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px 25px;
    text-decoration: none;
}
            
li a:hover {
    background-color:rgb(202, 113, 58);
    } 


.banner, .about, .talents, .contact {
    height: 750px;
    width: 100%;
}

#contact {
    background-color: white;
    width: 100%;
}

.sub-header {
    text-align: center;
    vertical-align: middle;
    font-family: 'Amatic SC';
    font-size: 90px;
    font-style: bolder;
    padding: 15px;
}

.sub-headertwo {
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 60px;
    font-style: bold;
    color: rgb(202, 113, 58)
}

.banner {
    text-align: center;
    vertical-align: middle;
    line-height: 370px;
    font-size: 50px;
    color: #f2ac80;
    background-image: url('https://newevolutiondesigns.com/images/freebies/cat-wallpaper-48.jpg');
    background-size: cover;
}

.full-width {
    display: flex;
    width: 100%;
}

.half-width {
    display: flex;
    width: 50%;
    font-size: 25px;
    padding: 20px;
}

.third-width {
    display: flex;
    justify-content: center;

    width: 33.3%;
    font-size: 25px;
}

.three {
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.contact-image {
    display: flex-end;
    justify-content: left;
    padding: 20px;
}

.contact-box {
    display: flex-end;
    justify-content: right;
    width: 67%;
    padding: 16px;
}

#talent-images {
    width: 460;
    height: 370;
}

#final-image {
    width: 600;
    height: 455;
}

/* MOBILE RESPONSIVENESS
Viewport Sizes and Pixel Densities for Popular Devices 
Tablet: http://screensiz.es/tablet/
Mobile: http://screensiz.es/
*/

@media (max-width: 750px) {
    .sidenav {
        display: block;
    }

    .sub-header {
        flex-direction: column;
    }

    .contact-image, .third-width {
        display: none;
    }
}

