body {
    margin: 0;
    background:#f2ac80;
    font-family: 'Meera Inimai';
}

h1 {
    margin: 0;
    font-family: 'Amatic SC';
    font-size: 100px;
}


div {
    border: 1px dotted black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
}
            
li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px 25px;
    text-decoration: none;
}
            
li a:hover {
    background-color:rgb(202, 113, 58);
    } 

.banner, .about, .talents, .contact {
    height: 750px;
    width: 100%;
}

.banner {
    text-align: center;
    vertical-align: middle;
    line-height: 370px;
    font-size: 50px;
    color: #f2ac80;
    background-image: url('https://newevolutiondesigns.com/images/freebies/cat-wallpaper-48.jpg');
    background-size: cover;
}

.full-width {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}

.half-width {
    display: flex;
    width: 50%;
    padding: 20px;
}

.third-width {
    display: flex;
    width: 33%;
    padding: 20px;
}

/*
.about-container, .talents-container, .contact-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
*/
